button {
  padding: 2px 5px;
  cursor: pointer;
  background-color: #dee2da;
  border-width: 2px;
  border-radius: 0;
  border-style: outset;
  border-color: #ffffff #808080 #808080 #ffffff;
  color: black;
  font-family: 'Kiwi Maru', serif;
  text-align: center;
  transition: filter 0.1s ease;
  font-size: 20px;
}

button:hover {
  background-color: #b8b8b8;
}

button:active {
  border-style: inset;
  background-color: #a3a3a3;
  border-color: #808080 #ffffff #ffffff #808080;
}

.button--primary {
  background-color: #1ea7fd;
  color: white;
}

.button--secondary {
  background-color: transparent;
  color: #333;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.button--small {
  font-size: 16px;
  padding: 5px 10px;
}

.button--large {
  font-size: 24px;
  padding: 10px 20px;
}

.button--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
